@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto&family=Volkhov:wght@700&display=swap");
@keyframes flight {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(700px) translateY(-250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@font-face {
  font-family: "GoogleSans";
  src: url(../fonts/GoogleSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "GoogleSans";
  src: url(../fonts/GoogleSans-Medium.ttf);
  font-weight: 500;
}
html,
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  color: #5E6282;
  font-size: 16px;
  background-image: url(../../img/header/bgDecoration.png);
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  padding-bottom: 79px;
}
@media screen and (max-width: 759.8px) {
  body {
    background: none;
  }
}
@media screen and (max-width: 499.8px) {
  body {
    padding-bottom: 0;
  }
}

a {
  color: inherit;
  display: block;
}

svg {
  display: block;
}

button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

.container {
  width: 84%;
  margin: 0 auto;
}

.title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183E;
}

.subtitle {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5E6282;
}

@media screen and (min-width: 2000px) {
  .container {
    width: 1600px;
  }
}
.header {
  padding-top: 43px;
  font-family: "GoogleSans", serif;
  font-weight: 400;
}
@media screen and (max-width: 759.8px) {
  .header {
    background-color: #FFF1DA;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #212832;
}
.header__nav {
  display: flex;
  gap: 52px;
}
@media screen and (max-width: 1199.8px) {
  .header__nav {
    gap: 25px;
  }
}
.header__nav_mobile {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: center;
  display: none;
  flex-direction: column;
  gap: 30px;
  margin-top: 93px;
  padding-bottom: 98px;
}
@media screen and (max-width: 759.8px) {
  .header__nav_mobile {
    display: flex;
  }
}
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}
@media screen and (max-width: 1199.8px) {
  .header__links {
    gap: 25px;
  }
}
@media screen and (max-width: 759.8px) {
  .header__links {
    display: none;
  }
}
.header__link {
  transition: 0.3s all;
}
.header__link:hover {
  transform: scale(1.1);
}
.header__auth-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
@media screen and (max-width: 1199.8px) {
  .header__auth-btns {
    gap: 25px;
  }
}
@media screen and (max-width: 959.8px) {
  .header__auth-btns {
    display: none;
  }
}
.header__nav-button {
  padding: 9px 22px;
}
.header__nav-button_sign-up {
  border: 1px solid #000;
  border-radius: 5px;
  transition: 0.3s all;
}
.header__nav-button_sign-up:hover {
  background-color: #000;
  color: #fff;
}
.header__lang-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.header .burger {
  padding-top: 3px;
  display: none;
}
@media screen and (max-width: 759.8px) {
  .header .burger {
    display: block;
  }
}

.about {
  margin-top: 23px;
  position: relative;
  overflow-x: hidden;
}
.about__blur {
  position: absolute;
  width: 478px;
  height: 496px;
  top: 10%;
  left: -23%;
  background: #D5AEE4;
  opacity: 0.3;
  filter: blur(75px);
}
@media screen and (max-width: 1199.8px) {
  .about__blur {
    display: none;
  }
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 1199.8px) {
  .about__content {
    flex-direction: column;
  }
}
.about__content_imgs {
  position: relative;
}
@media screen and (max-width: 759.8px) {
  .about__content_imgs {
    display: none;
  }
}
.about__content_imgs .plane {
  position: absolute;
}
.about__content_imgs .plane1 {
  top: 75px;
  left: 50px;
}
.about__content_imgs .plane1:hover {
  animation: flight 3s ease;
}
.about__content_imgs .plane2 {
  top: 100px;
  right: -10px;
  z-index: -1;
}
.about__subtitle {
  color: #DF6951;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 759.8px) {
  .about__subtitle {
    display: none;
  }
}
.about__title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 84px;
  letter-spacing: -0.04em;
  color: #14183E;
  margin-top: 24px;
  max-width: 545px;
  line-height: 89px;
  position: relative;
}
@media screen and (max-width: 1399.8px) {
  .about__title {
    font-size: 50px;
  }
}
.about__title .mobile-plane {
  position: absolute;
  display: none;
}
@media screen and (max-width: 759.8px) {
  .about__title .mobile-plane {
    display: block;
    top: -85px;
    left: -50px;
  }
}
@media screen and (max-width: 759.8px) {
  .about__title {
    font-size: 48px;
    padding-left: 30px;
  }
}
.about__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
  max-width: 480px;
}
@media screen and (max-width: 759.8px) {
  .about__text {
    display: none;
  }
}
.about__buttons {
  display: flex;
  gap: 40px;
  margin-top: 35px;
}
@media screen and (max-width: 1399.8px) {
  .about__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about .yellow-button {
  padding: 19px 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: #F1A501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  transition: 0.5s all;
}
.about .yellow-button:hover {
  transform: scale(1.1);
}
.about .red-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 165px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #686D77;
}
.about .red-button button {
  padding: 20px;
  background-color: #DF6951;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  border-radius: 100%;
  transition: 0.5s all;
}
.about .red-button button:hover {
  transform: scale(1.1);
}
.about__decore {
  position: absolute;
  bottom: 0;
  right: -5%;
  display: none;
}
@media screen and (max-width: 759.8px) {
  .about__decore {
    display: block;
  }
}

.category {
  margin-top: 100px;
}
.category .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.category__decore {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1049.9px) {
  .category__decore {
    display: none;
  }
}
.category .title,
.category .subtitle {
  text-align: center;
}
.category .title {
  margin-top: 10px;
}
.category__cards {
  width: 100%;
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
@media screen and (max-width: 668.9px) {
  .category__cards {
    justify-content: space-around;
    gap: 40px;
    margin-top: 0;
  }
}
.category__more {
  display: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
@media screen and (max-width: 668.9px) {
  .category__more {
    display: block;
    margin-top: 13px;
  }
}
.category .card {
  position: relative;
}
.category .card .card__block {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #DF6951;
  border-radius: 30px 0px 10px;
  width: 100px;
  height: 100px;
  z-index: -1;
  transition: 0.3s all;
}
.category .card .card__content {
  z-index: 1;
  text-align: center;
  min-width: 190px;
  border-radius: 36px;
  transition: 0.5s all;
  padding: 52px 40px;
  background-color: #FFF;
}
.category .card:hover .card__content {
  transform: translateX(30px) translateY(-30px);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  background-color: #FFF;
}
.category .card:hover .card__block {
  transform: translateX(-140px) translateY(70px);
}
.category .card__title {
  margin-top: 30px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #1E1D4C;
}
.category .card__text {
  margin-top: 15px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #5E6282;
}
@media screen and (max-width: 668.9px) {
  .category .card_hidden {
    display: none;
  }
  .category .card .category__more {
    display: block;
  }
}

.destinations {
  margin-top: 115px;
  position: relative;
}
.destinations__decore-plus {
  display: none;
}
@media screen and (max-width: 599.9px) {
  .destinations__decore-plus {
    display: block;
    position: absolute;
    top: 0;
    left: -10%;
  }
}
.destinations .title,
.destinations .subtitle {
  text-align: center;
}
.destinations__cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 75px;
  position: relative;
}
@media screen and (max-width: 827.9px) {
  .destinations__cards {
    justify-content: center;
  }
}
.destinations .card {
  max-width: 100%;
  border-radius: 0px 0px 24px 24px;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  position: relative;
  transition: 0.3s all;
  width: 310px;
  height: 457px;
}
.destinations .card:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.03)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.03)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.03)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.03));
}
.destinations .card__content {
  width: 100%;
  padding: 27px 25px 42px 20px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 20px 20px;
  line-height: 124.5%;
}
.destinations .card__content_top {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.destinations .card__content_bottom {
  display: flex;
  gap: 15px;
  font-size: 16px;
  margin-top: 20px;
}
.destinations .card:nth-child(2) {
  background-image: url(../../img/destinations/rome.png);
}
.destinations .card:nth-child(3) {
  background-image: url(../../img/destinations/london.png);
}
.destinations .card:nth-child(4) {
  background-image: url(../../img/destinations/eu.png);
}
.destinations__decore {
  position: absolute;
  right: -70px;
  top: 30%;
}
@media screen and (max-width: 1285.9px) {
  .destinations__decore {
    display: none;
  }
}

.instruction {
  margin-top: 186px;
  position: relative;
}
.instruction__decore {
  display: none;
}
@media screen and (max-width: 599.9px) {
  .instruction__decore {
    display: block;
    position: absolute;
    top: -15%;
    left: -10%;
  }
}
.instruction__decore-bottom {
  display: none;
}
@media screen and (max-width: 599.9px) {
  .instruction__decore-bottom {
    display: block;
    position: absolute;
    bottom: -15%;
    right: 0;
  }
}
.instruction .container {
  padding-right: 30px;
}
@media screen and (max-width: 627.9px) {
  .instruction .container {
    padding-right: 0;
  }
}
.instruction__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1212.9px) {
  .instruction__wrapper {
    justify-content: center;
  }
}
.instruction .blue-blur {
  position: absolute;
  right: 0;
  bottom: 100%;
  transform: translateY(100%);
  background: #59B1E6;
  opacity: 0.8;
  filter: blur(75px);
  width: 30%;
  height: 30%;
  z-index: -1;
}
@media screen and (max-width: 1129.9px) {
  .instruction .blue-blur {
    transform: translateY(0);
    bottom: 15%;
    right: 15%;
  }
}
.instruction__content {
  max-width: 510px;
}
.instruction__list {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  line-height: 124.5%;
}
.instruction__list_item {
  display: flex;
  align-items: center;
  gap: 21px;
}
.instruction__list_item_title {
  font-weight: 700;
  font-size: 16px;
}
.instruction__trips {
  background-color: #fff;
  max-width: 100%;
  z-index: 1;
  padding: 20px 25px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
  line-height: 124.5%;
  position: relative;
}
.instruction__trips img {
  max-width: 100%;
}
.instruction__trips_title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.015em;
  color: #080809;
}
.instruction__trips_subtitle {
  margin-top: 13px;
  font-weight: 500;
  font-size: 16px;
  color: #84829A;
}
.instruction__trips_subtitle span {
  margin-right: 15px;
}
.instruction__trips_links {
  margin-top: 21px;
  display: flex;
  gap: 18px;
}
.instruction__trips_link {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 100%;
  transition: 0.5s all;
}
.instruction__trips_link:hover {
  transform: scale(1.1);
}
.instruction__trips_footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instruction__trips_counter {
  display: flex;
  gap: 15px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #84829A;
}
.instruction__trips_like {
  cursor: pointer;
  transition: 0.5s all;
}
.instruction__trips_like:hover {
  transform: scale(1.1);
}
.instruction__trips_outgoing {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
  padding: 20px;
  display: inline-flex;
  justify-content: flex-start;
  gap: 11px;
  position: absolute;
  bottom: 50px;
  right: -115px;
  background: #fff;
}
@media screen and (max-width: 627.9px) {
  .instruction__trips_outgoing {
    display: none;
  }
}
.instruction__trips_outgoing .instruction__trips_title {
  margin-top: 6px;
}
.instruction__trips_outgoing .instruction__trips_subtitle {
  margin-top: 0;
}
.instruction__trips_outgoing img {
  width: 50px;
  height: 50px;
}
.instruction__trips_outgoing_progress {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.055em;
}
.instruction__trips_outgoing_progress span {
  color: #8A79DF;
}
.instruction__trips_outgoing_progress_bar {
  margin-top: 10px;
  width: 156px;
  height: 5px;
  background: #F5F5F5;
  border-radius: 30px;
}
.instruction__trips_outgoing_progress_completed {
  width: 40%;
  height: 100%;
  border-radius: 5px;
  background: #8A79DF;
}

.testimonials {
  margin-top: 210px;
}
.testimonials .title {
  max-width: 409px;
}
.testimonials__wrapper {
  display: flex;
  gap: 120px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1520.9px) {
  .testimonials__wrapper {
    justify-content: center;
  }
}
.testimonials__content {
  max-width: 504px;
  padding: 28px 68px 34px 34px;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  position: relative;
}
.testimonials__avatar {
  position: absolute;
  top: -12%;
  left: -7%;
}
@media screen and (max-width: 579.9px) {
  .testimonials__avatar {
    left: 50%;
    top: -15%;
    transform: translateX(-50%);
  }
}
.testimonials__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}
.testimonials__name {
  margin-top: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
@media screen and (max-width: 579.9px) {
  .testimonials__name {
    text-align: center;
  }
}
.testimonials__location {
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
@media screen and (max-width: 579.9px) {
  .testimonials__location {
    text-align: center;
  }
}

.top-selling {
  margin-top: 180px;
}
.top-selling .subtitle {
  display: none;
  text-align: center;
}
@media screen and (max-width: 630.9px) {
  .top-selling .subtitle {
    display: block;
  }
}
.top-selling__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
@media screen and (max-width: 630.9px) {
  .top-selling__wrapper {
    justify-content: center;
  }
}
.top-selling__wrapper img {
  width: 240px;
  padding: 20px 40px;
  transition: 0.3s all;
}
.top-selling__wrapper img:hover {
  transform: scale(1.1);
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

.subscribe {
  margin-top: 140px;
  position: relative;
}
.subscribe__decore {
  position: absolute;
  bottom: -15%;
  right: 3%;
}
@media screen and (max-width: 1680.9px) {
  .subscribe__decore {
    right: 2%;
  }
}
@media screen and (max-width: 1399.9px) {
  .subscribe__decore {
    right: 0;
  }
}
@media screen and (max-width: 1199.9px) {
  .subscribe__decore {
    display: none;
  }
}
.subscribe .container {
  background: url(../../img/subscribe/bg.png) center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 74px;
  padding: 79px 30px;
  border-radius: 129px 20px 20px 20px;
  position: relative;
}
@media screen and (max-width: 499.9px) {
  .subscribe .container {
    background: none;
  }
}
.subscribe__title {
  max-width: 860px;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  text-align: center;
}
@media screen and (max-width: 499.9px) {
  .subscribe__title {
    display: none;
  }
}
.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 38px;
}
.subscribe__form_input {
  width: 420px;
  border-radius: 10px;
  padding: 28px;
  border: none;
  outline: none;
}
@media screen and (max-width: 599.9px) {
  .subscribe__form_input {
    width: 100%;
  }
}
@media screen and (max-width: 499.9px) {
  .subscribe__form_input {
    display: none;
  }
}
.subscribe__form_button {
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
  padding: 25px 50px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.5s all;
}
.subscribe__form_button:hover {
  transform: scale(1.1);
}
.subscribe__send {
  position: absolute;
  top: -15px;
  right: -15px;
  background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.subscribe__send svg {
  transform: scale(0.9);
}
@media screen and (max-width: 499.9px) {
  .subscribe__send {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

.footer {
  margin-top: 150px;
  position: relative;
}
@media screen and (max-width: 499.9px) {
  .footer {
    background-color: #FFF1DA;
    padding-top: 13px;
    padding-bottom: 28px;
  }
  .footer .container {
    padding-left: 20px;
  }
}
.footer__wrappper {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}
@media screen and (max-width: 499.9px) {
  .footer__wrappper {
    flex-direction: column;
    gap: 58px;
  }
}
.footer__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
  color: #181E4B;
}
.footer__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;
}
@media screen and (max-width: 499.9px) {
  .footer__text {
    margin-top: 14px;
    max-width: 207px;
  }
}
.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
}
@media screen and (max-width: 499.9px) {
  .footer__links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 43px;
  }
}
.footer__links_title {
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
}
.footer__links_list {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 499.9px) {
  .footer__socials {
    justify-content: center;
    gap: 20px;
  }
}
.footer__apps {
  margin-top: 35px;
  display: grid;
  place-items: center;
}
.footer__apps_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  margin-top: 15px;
}
.footer__email {
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  text-align: center;
  margin-top: 85px;
}
@media screen and (max-width: 499.9px) {
  .footer__email {
    margin-top: 58px;
  }
}/*# sourceMappingURL=main.css.map */