.category {
    margin-top: 100px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title,
    .subtitle {
        text-align: center;
    }

    .title {
        margin-top: 10px;
    }

    &__cards {
        width: 100%;
        margin-top: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;

        @media screen and (max-width: 649.9px) {
            justify-content: space-around;
        }
    }
}


.card {
    text-align: center;
    min-width: 190px;
    border-radius: 36px;
    transition: 0.5s all;
    padding: 52px 40px;
    position: relative;
    background-color: #FFF;
    z-index: 1;
    
    &:before {
        content: '';
        transition: 0.3s all;
        position: absolute;
        z-index: -1;
        display: block;
        background-color: $main-red;
        width: 100px;
        height: 100px;
        border-radius: 30px 0px 10px;
        opacity: 0;
        top: 50%;
        z-index: -1;
        left: 50%;
    }


    &:hover {
        transform: translateX(30px) translateY(-30px);
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        background-color: #FFF;
        

        &:before {
            transform: translateX(-180px) translateY(130px);
            opacity: 1;
            
        }
    }

    &__title {
        margin-top: 30px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #1E1D4C;
    }

    &__text {
        margin-top: 15px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $text-main-color;
    }
}