@keyframes flight {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(700px) translateY(-250px);
        opacity: 0;
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}